/*OYINLAR OLAMI 1 START*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background: rgba(148, 133, 66, 0.598);
}

iframe {
  margin: 0 auto;
  display: flex;
  width: 600px;
  border-radius: 20px;
  border: solid 4px #ffffff;
  overflow: hidden;
}

.y1 {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(https://cdn.wallpapersafari.com/22/79/uZdafP.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  border: solid 5px #fff;
  border-radius: 20px;
}

.t1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0.404);
  padding: 20px;
}

.t1 h2 {
  width: 60%;
  padding: 50px;
  color: #fff;
  border: solid 5px #fff;
  border-radius: 10px;
  font-size: 40px;
  text-decoration: underline overline;
}

.mk1 {
  width: 1200px;
  height: 120px;
  margin: 30px auto;
  text-align: center;
  display: flex;
  align-items: center;
  background: #9d0707;
  border-radius: 15px;
  border: solid 4px #fff;
}

main .mk1 h1 {
  width: 100%;
  color: #fff;
  text-decoration: underline overline;
  font-size: 40px;
}

main section .mk2 {
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  line-height: 20px;
  background-image: url(https://assets-prd.ignimgs.com/2021/12/07/mk-1992-1638899209756.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 4px #fff;
}

main section .mk2 p {
  color: #fff;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.694);
}

main section .dom2 {
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  line-height: 20px;
  background-image: url(https://upload.wikimedia.org/wikipedia/ru/e/e4/Doom_cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 4px #fff;
}

main section .dom2 p {
  color: #fff;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.694);
}

main section .star1 {
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  line-height: 20px;
  background-image: url(https://img.tapimg.net/market/images/98860bbfa6089d59bb4dcef4b6ccfad5.jpg?imageView2/0/w/720/h/405/q/80/format/jpg/interlace/1/ignore-error/1);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 4px #fff;
}

main section .star1 p {
  color: #fff;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.694);
}

/*OYINLAR OLAMI 1 END*/

/* KERAKLI */

/* HEADER */

.a20 {
  width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #18024b54;
  border: solid 4px #000;
  color: #fff;
  padding: 30px;
  line-height: 50px;
  border-radius: 10px;
}

.a20 p {
  font-size: 20px;
}

.a20 h1 {
  text-decoration: underline;
  font-size: 25px;
  margin-bottom: 10px;
}

header {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #9e671f88;
  border: solid 4px #000;
  padding: 15px 10px;
  border-radius: 0 0 10px 10px;
}

.all {
  box-shadow: 0 10px 10px 10px rgb(0, 0, 0);
  width: 1200px;
  margin: auto;
  padding: 10px;
  background: rgb(143, 143, 143);
  border-radius: 50px;
}

header a {
  float: left;
  color: black;
  border: solid 4px #000;
  text-align: center;
  background: #a75d027c;
  padding: 10px;
  margin: 15px;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  border-radius: 20px;
  transition: 0.8s;
  text-decoration: underline overline;
}

header a.logo {
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 20px;
  text-decoration: underline overline;
}

header a:hover {
  background-color: rgba(67, 67, 67, 0.5);
  text-decoration: underline overline;
  color: #fff;
}

.header-right {
  float: right;
}

/* FOOTER */

.y90 {
  width: 1200px;
  margin: 0 auto;
  background: rgba(151, 95, 52, 0.6);
  color: #fff;
  line-height: 25px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
  border: solid 5px #000000;
}

footer {
  width: 1200px;
  margin: 0 auto;
  background: #cd781081;
  padding: 25px;
  border: solid 4px #000000;
}

.but1 .left a {
  width: 200px;
  background: #4343438b;
  color: #fff;
}

.but1 {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.left {
  text-align: center;
  display: flex;
  gap: 25px;
}

.left a:hover {
  background: #222222;
  color: #fff;
  border: solid 4px #fff;
  text-decoration: underline;
}

.left a {
  color: #000;
  text-decoration: none;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 160px;
  transition: 0.6s;
  border: solid 4px red;
}

.right {
  text-align: center;
  display: flex;
  gap: 25px;
}

.right a {
  color: #fff;
  background: #9707078b;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  transition: 0.6s;
  border: solid 4px #fff;
}

.right a:hover {
  background: #222222;
  color: #fff;
  border: solid 4px #fff;
  text-decoration: underline;
}

/* KERAKLI END */
