* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
  background: rgba(67, 67, 67, 0.54);
}







.a20 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(67, 67, 67, 0.52);
  color: #fff;
  padding: 30px;
  line-height: 50px;
  border-radius: 0 0 10px 10px;
  border: solid 5px #fff;
}




.a20 p {
  font-size: 30px;
}


.a20 h1 {
  text-decoration: underline;
}





header {
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 15px 10px;
  border-radius: 10px 10px 0 0;
}




.logo span {
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
}




header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: 0.5s;
}



header a.logo {
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
}


header a:hover {
  background-color: rgba(67, 67, 67, 0.5);
  text-decoration: underline;
  color: #fff;
}


.header-right {
  float: right;
}



@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }

  header-right {
    float: none;
  }
}





#slider {
  width: 90%;
  position: relative;
  text-align: center;
  top: 10px;
}






#slider {
  margin: 0 auto;
}




#slides article {
  width: 20%;
  float: left;
}




#slides .image {
  width: 500%;
  line-height: 0;
}





#overflow {
  width: 100%;
  overflow: hidden;
}





article img {
  width: 100%;
  border-radius: 10px;
}




#desktop:checked ~ #slider {
  max-width: 960px;
}




#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
  background: url(/img/prev.png);
  float: left;
  margin: 0 0 0 -84px;
  display: block;
  height: 68px;
  width: 68px;
}





#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
  background: url(/img/next.png);
  float: right;
  margin: 0 -84px 0 0;
  display: block;
  height: 68px;
  width: 68px;
}






label,
a {
  cursor: pointer;
}





.all input {
  display: none;
}





#switch1:checked ~ #slides .image {
  margin-left: 0;
}



#switch2:checked ~ #slides .image {
  margin-left: -100%;
}


#switch3:checked ~ #slides .image {
  margin-left: -200%;
}


#switch4:checked ~ #slides .image {
  margin-left: -300%;
}


#switch5:checked ~ #slides .image {
  margin-left: -400%;
}





#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}




#active label {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}





#active {
  margin: 23% 0 0;
  text-align: center;
}


#active label:hover {
  background: #ff0000;
  border-color: #777 !important;
}






#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
  background: #18a3dd;
  border-color: #18a3dd !important;
}



#slides .image {
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}







#controls label:hover {
  opacity: 0.6;
}




#controls label {
  transition: opacity 0.2s ease-out;
}







.y90 {
  width: 100%;
  margin: 0 auto;
  background: rgba(68, 68, 68, 0.6);
  color: #fff;
  line-height: 25px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
  border: solid 5px #fff;
}







footer {
  width: 100%;
  background: #444444;
  padding: 25px;
  border: solid 5px #fff;
}




.but1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.left {
  text-align: center;
  display: flex;
  gap: 25px;
}





.left a:hover {
  background: #222222;
  color: #fff;
  border: solid 2px #fff;
  text-decoration: underline;
}






.left a {
  color: #000;
  text-decoration: none;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 160px;
  transition: 0.6s;
  border: solid 2px red;
}





.right {
  text-align: center;
  display: flex;
  gap: 25px;

}








.right a {
  color: #000;
  text-decoration: none;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  transition: 0.6s;
  border: solid 2px #fff;
  border: solid 2px red;
}






.right a:hover {
  background: #222222;
  color: #fff;
  border: solid 2px #fff;
  text-decoration: underline;
}




/*BOSH SAHIFA YAKUNLANDI*/



/*OYINLAR OLAMI 1 START*/






.y1 {
  width: 100%;
  height: 250px;
  background-image: url(https://cdn.wallpapersafari.com/22/79/uZdafP.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #fff;

}





.t1 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
}




.t1 h2 {
  width: 60%;
  padding: 50px;
  color: #fff;
  border: solid 5px #fff;
  border-radius: 10px;
  font-size: 40px;
  text-decoration: underline;
}







.mk1 {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #434343;
  border: solid 5px #fff;
}



main .mk1 h1 {
  color: #fff;
  font-size: 40px;
}



main section .mk2 {
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-image: url(https://assets-prd.ignimgs.com/2021/12/07/mk-1992-1638899209756.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 5px #fff;

}






main section .mk2 p {
  color: #fff;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;

  background: rgba(0, 0, 0, 0.4);
}














main section .dom2 {
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-image: url(https://upload.wikimedia.org/wikipedia/ru/e/e4/Doom_cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 5px #fff;

}






main section .dom2 p {
  color: #fff;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.4);
}












main section .star1 {
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-image: url(https://img.tapimg.net/market/images/98860bbfa6089d59bb4dcef4b6ccfad5.jpg?imageView2/0/w/720/h/405/q/80/format/jpg/interlace/1/ignore-error/1);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 5px #fff;

}






main section .star1 p {
  color: #fff;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.4);
}








/*OYINLAR OLAMI 1 END*/






/*OYINLAR OLAMI 2 START*/





main section .wolf2 {
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-image: url(https://media.moddb.com/images/downloads/1/192/191210/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #fff;

}






main section .wolf2 p {
  color: #fff;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.4);
}









main section .dk1 {
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-image: url(https://www.retrogames.cz/games/001/DOS_01.gif);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #fff;

}






main section .dk1 p {
  color: #fff;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.4);
}










main section .sp1 {
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-image: url(https://comicvine.gamespot.com/a/uploads/scale_small/0/4/10035-2127-11047-1-amazing-spider-man-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #fff;

}






main section .sp1 p {
  color: #fff;
  height: 100%;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.4);
}










/*OYINLAR OLAMI 2 END*/



/*OYINLAR OLAMI 3 START*/



main section .tur1 {
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-image: url(https://i.ebayimg.com/images/g/kBwAAOSwVVxjXBEF/s-l1600.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #fff;

}






main section .tur1 p {
  color: #fff;
  height: 100%;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.4);
}








main section .abs1 {
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-image: url(https://www.oddworld.com/wp-content/themes/odd/resources/games/classics/abe1big2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #fff;

}






main section .abs1 p {
  color: #fff;
  height: 100%;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.4);
}







main section .mar1 {
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-image: url(https://e0.pxfuel.com/wallpapers/543/141/desktop-wallpaper-super-mario-mobile-super-mario-art-mario-bros-super-mario-bros-super-mario-world-thumbnail.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #fff;

}






main section .mar1 p {
  color: #fff;
  height: 100%;
  padding: 15px;
  font-size: 20px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.4);
}





/*OYINLAR OLAMI 3 END*/







/*MENYU START*/





.y2 {
  width: 100%;
  height: 100vh;
  background-image: url(https://cife.stanford.edu/sites/g/files/sbiybj18746/files/styles/breakpoint_2xl_2x/public/media/image/banner_news_events.jpg?itok=sitGQTwN);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #fff;

}





.t2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
}




.t2 h2 {
  width: 60%;
  padding: 50px;
  color: #fff;
  border: solid 5px #fff;
  border-radius: 10px;
  font-size: 40px;
  text-decoration: underline;
}









.infor1 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background: #434343;
  border: solid 5px #fff;
}





.infor1 .me {
  width: 30%;
  background: #fff;
  border-radius: 8px;
}


.infor1 .me p {
  text-align: center;
  padding: 5px;
  font-size: 20px;
}



.infor1 .me img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}





.infor1 .info {
  width: 70%;
  line-height: 50px;
  padding: 20px;
  margin: 10px;
  color: #fff;
  border: solid 5px #fff;
  border-radius: 10px;
}


.infor1 .info h2 {
  display: flex;
  justify-content: center;
}




.infor1 .info p {
  font-size: 20px;
}






.info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #234334;
  color: #fff;
  padding: 25px;
  line-height: 25px;
  gap: 25px;
  border: solid 5px #fff;
}






.info2 h2 {
  display: flex;
  align-items: center;
  height: 200px;
  padding: 15px;
  border: solid 2px #fff;
  border-radius: 8px;
  line-height: 30px;
}




.info2 p {
  border: solid 5px #fff;
  padding: 20px;
  border-radius: 10px;
}






.infor1 {
  padding: 20px;
  background: #dd9118;
}





.infor1 .me2 {
  width: 30%;
  background: #18a3dd;
  border-radius: 8px;
}



.infor1 .me2 p {
  text-align: center;
  padding: 5px;
  font-size: 20px;
  color: #fff;
}



.infor1 .me2 img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}




.comming {
  border: solid 5px #fff;
  background: #009528;
  padding: 50px;
  text-align: center;
  color: #fff;
}







/*MENYU END*/
